//DB2GRANT JOB 'DB2',NOTIFY=&SYSUID,CLASS=A,MSGCLASS=H,
//          MSGLEVEL=(1,1),REGION=4M
//DB2GRANT EXEC PGM=IKJEFT01,REGION=0M
//STEPLIB  DD  DISP=SHR,DSN={{ db2.db2_hlq }}.SDSNEXIT
//         DD  DISP=SHR,DSN={{ db2.db2_hlq }}.SDSNLOAD
//SYSUDUMP DD SYSOUT=*
//SYSPRINT DD SYSOUT=*
//SYSTSPRT DD SYSOUT=*
//SYSTSIN DD *
 DSN SYSTEM({{ db2.ssid }})
 RUN PROGRAM(DSNTEP2) PLAN({{ db2.dsntep }}) -
 LIB('{{ db2.runlib }}') PARMS('/ALIGN(MID)')
 END
/*
//SYSIN DD *
 SET CURRENT SQLID = '{{ db2.sqlid }}';

{% for cics_user in global.db2_grants %}
 GRANT EXECUTE ON PLAN {{ db2.plan }} TO {{ cics_user }};

 GRANT SELECT, INSERT, UPDATE, DELETE ON TABLE
     BANKZ.ACCOUNT TO {{ cics_user }};

 GRANT SELECT, INSERT, UPDATE, DELETE ON TABLE
     BANKZ.PROCTRAN TO {{ cics_user }};

 GRANT SELECT, INSERT, UPDATE, DELETE ON TABLE
     BANKZ.CONTROL TO {{ cics_user }};

 GRANT SELECT, INSERT, UPDATE, DELETE ON TABLE
     BANKZ.CUSTOMER TO {{ cics_user }};
     
  GRANT CREATEDBA TO {{ cics_user }};
  GRANT CREATESG TO {{ cics_user }};

  GRANT USE OF BUFFERPOOL BP0 TO {{ cics_user }};
  GRANT USE OF BUFFERPOOL BP1 TO {{ cics_user }};

  GRANT BINDADD TO {{ cics_user }};

  GRANT CREATEIN ON SCHEMA BANKZ TO {{ cics_user }};

  GRANT CREATE IN COLLECTION {{ db2.package }} TO {{ cics_user }};
  GRANT PACKADM ON COLLECTION {{ db2.package }} TO {{ cics_user }};
{% endfor %}
/*