//DB2CREAT JOB 'DB2',NOTIFY=&SYSUID,CLASS=A,MSGCLASS=H,
//          MSGLEVEL=(1,1),REGION=4M
//JOBLIB  DD  DISP=SHR,DSN={{ db2.db2_hlq }}.SDSNLOAD
//GRANT   EXEC PGM=IKJEFT01,DYNAMNBR=20
//SYSTSPRT DD  SYSOUT=*
//SYSPRINT DD  SYSOUT=*
//SYSUDUMP DD  SYSOUT=*
//SYSTSIN  DD  *
  DSN SYSTEM({{ db2.ssid }})
  RUN PROGRAM(DSNTEP2)  PLAN({{ db2.dsntep }}) -
       LIB('{{ db2.runlib }}') PARMS('/ALIGN(MID)')
  END
/*
//SYSIN    DD  *

SET CURRENT SQLID = '{{ db2.sqlid }}';

CREATE DATABASE BANKZ
       BUFFERPOOL BP1
       INDEXBP BP0;

CREATE TABLESPACE ACCOUNT IN BANKZ ;

CREATE TABLE BANKZ.ACCOUNT (
                    ACCOUNT_EYECATCHER             CHAR(4),
                    ACCOUNT_CUSTOMER_NUMBER        CHAR(10),
                    ACCOUNT_SORTCODE               CHAR(6) NOT NULL,
                    ACCOUNT_NUMBER                 CHAR(8) NOT NULL,
                    ACCOUNT_TYPE                   CHAR(8),
                    ACCOUNT_INTEREST_RATE          DECIMAL(6, 2),
                    ACCOUNT_OPENED                 DATE,
                    ACCOUNT_OVERDRAFT_LIMIT        INTEGER,
                    ACCOUNT_LAST_STATEMENT         DATE,
                    ACCOUNT_NEXT_STATEMENT         DATE,
                    ACCOUNT_AVAILABLE_BALANCE      DECIMAL(12, 2),
                    ACCOUNT_ACTUAL_BALANCE         DECIMAL(12, 2)
                   )
IN BANKZ.ACCOUNT   NOT VOLATILE
CARDINALITY  AUDIT NONE  DATA CAPTURE NONE;

CREATE UNIQUE INDEX BANKZ.ACCTINDX
  ON BANKZ.ACCOUNT(ACCOUNT_SORTCODE,ACCOUNT_NUMBER)
  ;

CREATE INDEX BANKZ.ACCTCUST
   ON BANKZ.ACCOUNT(ACCOUNT_SORTCODE,ACCOUNT_CUSTOMER_NUMBER)
   ;

CREATE TABLESPACE PROCTRAN IN BANKZ ;

CREATE TABLE BANKZ.PROCTRAN (
                    PROCTRAN_EYECATCHER            CHAR(4),
                    PROCTRAN_SORTCODE              CHAR(6) NOT NULL,
                    PROCTRAN_NUMBER                CHAR(8) NOT NULL,
                    PROCTRAN_DATE                  DATE,
                    PROCTRAN_TIME                  CHAR(6),
                    PROCTRAN_REF                   CHAR(12),
                    PROCTRAN_TYPE                  CHAR(3),
                    PROCTRAN_DESC                  CHAR(40),
                    PROCTRAN_AMOUNT                DECIMAL(12, 2)
                   )
IN BANKZ.PROCTRAN  NOT VOLATILE
CARDINALITY  AUDIT NONE  DATA CAPTURE NONE;

CREATE TABLESPACE CONTROL IN BANKZ ;

CREATE TABLE BANKZ.CONTROL (
                    CONTROL_NAME                   CHAR(32),
                    CONTROL_VALUE_NUM              INTEGER,
                    CONTROL_VALUE_STR              CHAR(40)
                   )
IN BANKZ.CONTROL  NOT VOLATILE
CARDINALITY  AUDIT NONE  DATA CAPTURE NONE;

CREATE UNIQUE INDEX BANKZ.CONTINDX
 ON BANKZ.CONTROL(CONTROL_NAME)
 ;

CREATE TABLESPACE CUSTOMER IN BANKZ ;

CREATE TABLE BANKZ.CUSTOMER (
                    CUSTOMER_EYECATCHER            CHAR(4),
                    CUSTOMER_SORTCODE              CHAR(6) NOT NULL,
                    CUSTOMER_NUMBER                CHAR(10) NOT NULL,
                    CUSTOMER_TITLE                 CHAR(10),
                    CUSTOMER_FIRST_NAME            CHAR(50),
                    CUSTOMER_LAST_NAME             CHAR(50),
                    CUSTOMER_DATE_OF_BIRTH         INTEGER,
                    CUSTOMER_PHONE                 CHAR(20),
                    CUSTOMER_ADDR_LINE1            CHAR(50),
                    CUSTOMER_ADDR_LINE2            CHAR(50),
                    CUSTOMER_CITY                  CHAR(50),
                    CUSTOMER_POSTCODE              CHAR(10),
                    CUSTOMER_COUNTRY               CHAR(50),
                    CUSTOMER_STATUS                CHAR(10),
                    CUSTOMER_CREATED_DATE          INTEGER,
                    CUSTOMER_CREDIT_SCORE          SMALLINT,
                    CUSTOMER_CS_REVIEW_DATE        INTEGER
                   )
IN BANKZ.CUSTOMER  NOT VOLATILE
CARDINALITY  AUDIT NONE  DATA CAPTURE NONE;

CREATE UNIQUE INDEX BANKZ.CUSTINDX
  ON BANKZ.CUSTOMER(CUSTOMER_SORTCODE,CUSTOMER_NUMBER)
  ;

CREATE INDEX BANKZ.CUSTNAME
   ON BANKZ.CUSTOMER(CUSTOMER_LAST_NAME, CUSTOMER_FIRST_NAME)
   ;

/*