//IMSSPOC JOB 'WD-IMSSPOC',MSGLEVEL=(1,1),MSGCLASS=R,NOTIFY=&SYSUID
//*--------------------------------------------------------------------
//* STEP 1 : CLEANUP - DELETE EXISTING RESOURCES IF PRESENT
//*          CONTINUE EVEN IF RC=8 (RESOURCE NOT FOUND IS OK)
//*--------------------------------------------------------------------
//CLEANUP  EXEC PGM=CSLUSPOC,
//  PARM=('IMSPLEX={{ ims_plex }},ROUTE={{ ims_route }},WAIT=30')
//STEPLIB   DD DISP=SHR,DSN={{ ims_hlq }}.{{ ims_datastore }}.SDFSRESL
//SYSPRINT DD SYSOUT=*
//SYSIN    DD *
 DEL TRAN NAME(IBLOGIN)
 DEL TRAN NAME(IBLOGOUT)
 DEL TRAN NAME(IBTRAN)
 DEL TRAN NAME(IBACSUM)
 DEL TRAN NAME(IBGCUDAT)
 DEL TRAN NAME(IBSCUDAT)
 DEL TRAN NAME(IBGHIST)
 DEL PGM NAME(IB)
 DEL PGM NAME(IBACSUM)
 DEL PGM NAME(IBGCUDAT)
 DEL PGM NAME(IBLOAD)
 DEL PGM NAME(IBLOGIN)
 DEL PGM NAME(IBLOGOUT)
 DEL PGM NAME(IBSCUDAT)
 DEL PGM NAME(IBTRAN)
 DEL PGM NAME(IBGHIST)
 DBR DB ACCOUNT
 DEL DB NAME(ACCOUNT)
 STO DB CUSTACCS
 DBR DB CUSTACCS
 DEL DB NAME(CUSTACCS)
 STO DB CUSTOMER
 DBR DB CUSTOMER
 DEL DB NAME(CUSTOMER)
 STO DB HISTORY
 DBR DB HISTORY
 DEL DB NAME(HISTORY)
 STO DB TSTAT
 DBR DB TSTAT
 DEL DB NAME(TSTAT)
/*
//*--------------------------------------------------------------------
//* STEP 2 : CREATE - ONLY IF CLEANUP RC <= 8
//*--------------------------------------------------------------------
//SPOC      EXEC PGM=CSLUSPOC,
//  PARM=('IMSPLEX={{ ims_plex }},ROUTE={{ ims_route }},WAIT=30')
//STEPLIB   DD DISP=SHR,DSN={{ ims_hlq }}.{{ ims_datastore }}.SDFSRESL
//SYSPRINT  DD SYSOUT=*
//SYSIN     DD *
 CREATE DB NAME(ACCOUNT) SET(ACCTYPE(UPD) RESIDENT(Y))
 STA DB ACCOUNT
 CREATE DB NAME(CUSTACCS) SET(ACCTYPE(UPD) RESIDENT(Y))
 STA DB CUSTACCS
 CREATE DB NAME(CUSTOMER) SET(ACCTYPE(UPD) RESIDENT(Y))
 STA DB CUSTOMER
 CREATE DB NAME(HISTORY) SET(ACCTYPE(UPD) RESIDENT(Y))
 STA DB HISTORY
 CREATE DB NAME(TSTAT) SET(ACCTYPE(UPD) RESIDENT(Y))
 STA DB TSTAT
 CREATE PGM NAME(IB) SET( BMPTYPE(N) DOPT(N) +
       FP(N) GPSB(N) RESIDENT(Y) SCHDTYPE(PARALLEL) +
       TRANSTAT(Y))
  CREATE PGM NAME(IBACSUM) SET( BMPTYPE(N) DOPT(N) +
       FP(N) GPSB(N) RESIDENT(Y) SCHDTYPE(PARALLEL) +
       TRANSTAT(Y))
  CREATE PGM NAME(IBGCUDAT) SET( BMPTYPE(N) DOPT(N) +
       FP(N) GPSB(N) RESIDENT(Y) SCHDTYPE(PARALLEL) +
       TRANSTAT(Y))
  CREATE PGM NAME(IBLOAD) SET( BMPTYPE(N) DOPT(N) +
       FP(N) GPSB(N) RESIDENT(Y) SCHDTYPE(PARALLEL) +
       TRANSTAT(Y))
  CREATE PGM NAME(IBLOGIN) SET( BMPTYPE(N) DOPT(N) +
       FP(N) GPSB(N) RESIDENT(Y) SCHDTYPE(PARALLEL) +
       TRANSTAT(Y))
  CREATE PGM NAME(IBLOGOUT) SET( BMPTYPE(N) DOPT(N) +
       FP(N) GPSB(N) RESIDENT(Y) SCHDTYPE(PARALLEL) +
       TRANSTAT(Y))
  CREATE PGM NAME(IBSCUDAT) SET( BMPTYPE(N) DOPT(N) +
       FP(N) GPSB(N) RESIDENT(Y) SCHDTYPE(PARALLEL) +
       TRANSTAT(Y))
  CREATE PGM NAME(IBTRAN) SET( BMPTYPE(N) DOPT(N) +
       FP(N) GPSB(N) RESIDENT(Y) SCHDTYPE(PARALLEL) +
       TRANSTAT(Y))
  CREATE PGM NAME(IBGHIST) SET( BMPTYPE(N) DOPT(N) +
       FP(N) SCHDTYPE(PARALLEL) GPSB(Y) +
       TRANSTAT(Y) LANG(JAVA))
  STA PGM IB
  STA PGM IBACSUM
  STA PGM IBGCUDAT
  STA PGM IBLOAD
  STA PGM IBLOGIN
  STA PGM IBLOGOUT
  STA PGM IBSCUDAT
  STA PGM IBTRAN
  STA PGM IBGHIST
  CREATE TRAN NAME(IBLOGIN) SET(PGM(IBLOGIN) WFI(N) +
  PARLIM(0) PLCT(65535) CLASS(5) EDITUC(N))
  CREATE TRAN NAME(IBLOGOUT) SET(PGM(IBLOGOUT) WFI(N) +
  PARLIM(0) PLCT(65535) CLASS(5) EDITUC(N))
  CREATE TRAN NAME(IBTRAN) SET(PGM(IBTRAN) WFI(N) +
  PARLIM(0) PLCT(65535) CLASS(7) EDITUC(N))
  CREATE TRAN NAME(IBACSUM) SET(PGM(IBACSUM) WFI(N) +
  PARLIM(0) PLCT(65535) CLASS(5) EDITUC(N))
  CREATE TRAN NAME(IBGCUDAT) SET(PGM(IBGCUDAT) WFI(N) +
  PARLIM(0) PLCT(65535) CLASS(5) EDITUC(N))
  CREATE TRAN NAME(IBSCUDAT) SET(PGM(IBSCUDAT) WFI(N) +
  PARLIM(0) PLCT(65535) CLASS(5) EDITUC(N))
  CREATE TRAN NAME(IBGHIST) SET(PGM(IBGHIST) WFI(N) +
       PLCT(65535) CLASS(6) EDITUC(N))
QUERY DB NAME(*) SHOW(STATUS)
QUERY PGM NAME(*) SHOW(STATUS)
/*