//*----------------------------------------------------------------*
//*  Licensed Materials - Property of IBM                          *
//*  (c) Copyright IBM Corp. 2022,2026 All Rights Reserved         *
//*  US Government Users Restricted Rights - Use, duplication or   *
//*  disclosure restricted by GSA ADP Schedule Contract with       *
//*  IBM Corp                                                      *
//*----------------------------------------------------------------*
//********************************************************************
//*               BIND - BIND THE DB2 PLAN                           *
//********************************************************************
//{{parameters['db2_system']['plan_jobcard'].strip()}}
//JOBLIB   DD  DISP=SHR,
//             DSN={{parameters['db2_system']['sdsnload']}}
//PLABIND EXEC PGM=IKJEFT01,DYNAMNBR=20,COND=(4,LT)
//SYSTSPRT DD  SYSOUT=*
//SYSPRINT DD  SYSOUT=*
//SYSUDUMP DD  SYSOUT=*
//SYSIN    DD  DUMMY
//SYSTSIN  DD  *
DSN SYSTEM ({{parameters['db2_system']['subsys']}})
BIND  PLAN({{parameters['db2_system']['plan']}}) +
   PKLIST({{parameters['db2_system']['plan_pklist']}}) +
   QUALIFIER({{parameters['db2_system']['qualifier']}}) +
   OWNER({{parameters['db2_system']['sqlid']}}) +
   ISOLATION(UR)
END
/*

