//{{ DB2SSID }}RACF JOB (ACCTINFO),CLASS={{ CLASS }},MSGCLASS=H,
//         MSGLEVEL=(1,1),REGION=0M
//**************************************************
//* JOB NAME = RACF job for DB2 configuration
//* PURPOSE  = Configure RACF authorization for DB2
//***************************************************
//RACSTEP1 EXEC PGM=IKJEFT01
//SYSTSPRT DD SYSOUT=*
//SYSTERM DD DUMMY
//SYSTSIN DD *

/* Create DB2 users if they don't exist */
ADDUSER {{ DB2SSID }}MSTR +
   NAME('DB2 {{ DB2SSID }} MASTER') +
   DFLTGRP(SYS1) +
   NOPASSWORD +
   OMVS(AUTOUID HOME('/') PROGRAM('/bin/sh'))
ADDUSER {{ DB2SSID }}IRLM +
   NAME('DB2 {{ DB2SSID }} IRLM') +
   DFLTGRP(SYS1) +
   NOPASSWORD +
   OMVS(AUTOUID HOME('/') PROGRAM('/bin/sh'))

PERMIT BPX.SUPERUSER CLASS(FACILITY) ID({{ AUTHID }} SYS1) ACCESS(READ)
RDEFINE STARTED {{ DB2SSID }}MSTR.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))
RDEFINE STARTED {{ DB2SSID }}DBM1.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))
RDEFINE STARTED {{ DB2SSID }}DIST.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))
RDEFINE STARTED {{ DB2SSID }}IRLM.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))
RDEFINE STARTED {{ DB2SSID }}ADMT.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))
RDEFINE STARTED {{ DB2SSID }}WLM*.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))

RALTER STARTED {{ DB2SSID }}MSTR.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))
RALTER STARTED {{ DB2SSID }}DBM1.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))
RALTER STARTED {{ DB2SSID }}DIST.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))
RALTER STARTED {{ DB2SSID }}IRLM.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))
RALTER STARTED {{ DB2SSID }}ADMT.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))
RALTER STARTED {{ DB2SSID }}WLM*.*  UACC(NONE) STDATA(USER({{ AUTHID }}) +
   GROUP(SYS1) PRIVILEGED(NO) TRUSTED(YES) TRACE(NO)) +
   OWNER(SYS1) AUDIT(ALL(READ))
RDEF DSNR {{ DB2SSID }}.BATCH UACC(READ) LEVEL(00) OWNER(SYS1) -
   NOTIFY({{ AUTHID }}) AUDIT(ALL(UPDATE))
RDEF DSNR {{ DB2SSID }}.DIST UACC(READ) LEVEL(00) OWNER(SYS1) -
   NOTIFY({{ AUTHID }}) AUDIT(ALL(UPDATE))
RDEF DSNR {{ DB2SSID }}.RRSAF UACC(READ) LEVEL(00) OWNER(SYS1) -
   NOTIFY({{ AUTHID }}) AUDIT(ALL(UPDATE))
RDEF DSNR {{ DB2SSID }}.SASS  UACC(READ) LEVEL(00) OWNER(SYS1) -
   NOTIFY({{ AUTHID }}) AUDIT(ALL(UPDATE))
RDEF DSNR {{ DB2SSID }}.MASS  UACC(READ) LEVEL(00) OWNER(SYS1) -
   NOTIFY({{  AUTHID }}) AUDIT(ALL(UPDATE))
RDEF DSNR {{ DB2SSID }}.WLMENV.* UACC(NONE) LEVEL(00) OWNER(SYS1) -
   NOTIFY({{ AUTHID }}) AUDIT(ALL(READ))
PE {{ DB2SSID }}.WLMENV.* CLASS(DSNR) ID(SYS1) ACCESS(READ)
PE {{ DB2SSID }}.WLMENV.* CLASS(DSNR) ID({{ AUTHID }}) ACCESS(READ)
RDEF DSNR {{ DB2SSID }}.WLM_REFRESH.* UACC(NONE) LEVEL(00) OWNER(SYS1) -
   NOTIFY({{ AUTHID }}) AUDIT(ALL(READ))
PE {{ DB2SSID }}.WLM_REFRESH.* CLASS(DSNR) ACCESS(READ) -
   ID({{ AUTHID }} SYS1)
RDEF SERVER DB2.* UACC(NONE) LEVEL(00) OWNER(SYS1) -
   NOTIFY({{ AUTHID }}) AUDIT(ALL(READ))
PE DB2.* CLASS(SERVER) ACCESS(READ) -
   ID({{ AUTHID }} SYS1)
SETR RACLIST(DSNR) REFRESH
SETROPTS GENERIC(DATASET) REFRESH
SETR RACLIST(SERVER) REFRESH
SETR RACLIST(FACILITY) REFRESH
SETR RACLIST(STARTED) REFRESH
SETROPTS WHEN (PROGRAM) REFRESH

PERMIT MVS.** CLASS(OPERCMDS) ID(SYS1) ACCESS(CONTROL)
PERMIT MVS.** CLASS(OPERCMDS) ID({{ AUTHID }}) ACCESS(CONTROL)
PERMIT MVS.VARY.** CLASS(OPERCMDS) ID({{ AUTHID }}) ACCESS(CONTROL)
PERMIT MVS.VARY.** CLASS(OPERCMDS) ID(SYS1) ACCESS(CONTROL)
PERMIT MVS.* CLASS(OPERCMDS) ID({{ AUTHID }}) ACCESS(CONTROL)
PERMIT MVS.* CLASS(OPERCMDS) ID(SYS1) ACCESS(CONTROL)
PERMIT MVS.VARY.* CLASS(OPERCMDS) ID({{ AUTHID }}) ACCESS(CONTROL)

/* Specific OPERCMDS permissions for DB2 started tasks */
PERMIT MVS.START.STC.{{ DB2SSID }}* CLASS(OPERCMDS) +
   ID({{ AUTHID }}) ACCESS(UPDATE)
PERMIT MVS.START.STC.{{ DB2SSID }}* CLASS(OPERCMDS) +
   ID({{ DB2SSID }}MSTR) ACCESS(UPDATE)
PERMIT MVS.START.STC.{{ DB2SSID }}* CLASS(OPERCMDS) +
   ID({{ DB2SSID }}IRLM) ACCESS(UPDATE)

SETROPTS RACLIST(OPERCMDS) REFRESH

PERMIT MVSADMIN.WLM.POLICY CLASS(FACILITY) ID( {{ AUTHID }} ) ACCESS(UPDATE)
SETROPTS RACLIST (FACILITY) REFRESH

/*