{{ db2.jobcard }}
//*********************************************************************
//*                                                                   *
//* CREATE DB2 DATABASE - {{ ims.db2_database }}                      *
//*                                                                   *
//*********************************************************************
//CREATEDB EXEC PGM=IKJEFT01,DYNAMNBR=20
//STEPLIB  DD  DISP=SHR,DSN={{ db2.sdsnexit }}
//         DD  DISP=SHR,DSN={{ db2.sdsnload }}
//SYSTSPRT DD  SYSOUT=*
//SYSPRINT DD  SYSOUT=*
//SYSUDUMP DD  SYSOUT=*
//SYSTSIN  DD  *
  DSN SYSTEM({{ db2.ssid }})
  RUN PROGRAM(DSNTEP2) PLAN({{ db2.dsntep }}) -
       LIB('{{ db2.runlib }}')
  END
/*
//SYSIN    DD  *
SET CURRENT SQLID = '{{ db2.sqlid }}';

CREATE DATABASE {{ ims.db2_database }}
CCSID EBCDIC;


CREATE TABLE "{{ ims.db2_database }}"."{{ ims.db2_table}}"
(
	"TXID" BIGINT UNIQUE NOT NULL,
	"TIMESTMP" TIMESTAMP NOT NULL,
	"TRANSTYP" CHAR(1) NOT NULL,
	"AMOUNT" DECIMAL(15,2) NOT NULL,
	"REFTXID" BIGINT NOT NULL,
	"ACCID" BIGINT NOT NULL,
	"BALANCE" DECIMAL(15,2) NOT NULL
)   
	AUDIT NONE
	DATA CAPTURE NONE;

GRANT ALL ON {{ ims.db2_database }}.{{ ims.db2_table}} TO PUBLIC;

COMMIT;

/*
