-Djava.class.path={{ ims.ims_java_home }}/imsudb.jar:{{ sandbox.path }}/jars/nazare-ims-jmp-1.0.0-SNAPSHOT.jar:{{ db2.db2_java_home }}/jdbc/classes/db2jcc.jar:{{ db2.db2_java_home }}/jdbc/classes/db2jcc_license_cisuz.jar
-Djava.library.path={{ ims.ims_java_home }}/lib:{{ db2.db2_java_home }}/jdbc/lib:{{ db2.db2_java_home }}/lib