{{ ims.jobcard }}
{%- set reg = ims.get('regions', [])[region_num | int - 1] %}
{%- set region_num = 1 %}
//SPOC      EXEC PGM=CSLUSPOC,
//  PARM=('IMSPLEX={{ ims.dfs_imsplex }},ROUTE={{ ims.dfs_ims_ssid  }},WAIT=30,F=WRAP')
//STEPLIB   DD DISP=SHR,DSN={{  ims.dfs_reslib  }}
//SYSPRINT  DD SYSOUT=*
//SYSIN     DD *
       /STO REGION JOBNAME {{ ims.dfs_ims_ssid }}JMP{{ region_num|string }}
/*