/.project
/.settings/
/.bob/*.json
/.setup/.env
.env
provisioning/
/.pydevproject
build.log
/bin/
/logs/
.DS_Store
src/base/ims/java/src/main/java/nazare/jmp/standalone/*
/build/
zowe.config.user.json
/.host.yaml
/.zdx.json
# VSIX extension downloads
vsix-extensions/
*.vsix
/.taz-unit-test
tools/
imsbank_provisioning/
.setup/jcl/ims/Db2-grant-sysadm.jcl
docs/_site
.env
.gitignore
scripts/update-frontend-file.sh
scripts/update-frontend-file-zos.sh
**/.taz-edt/
**/datasets.yaml
.gradle/
