//DB2INSRT JOB 'DB2',NOTIFY=&SYSUID,CLASS=A,MSGCLASS=H,
//          MSGLEVEL=(1,1),REGION=4M
//JOBLIB  DD  DISP=SHR,DSN={{ db2.db2_hlq }}.SDSNLOAD
//GRANT   EXEC PGM=IKJEFT01,DYNAMNBR=20
//SYSTSPRT DD  SYSOUT=*
//SYSPRINT DD  SYSOUT=*
//SYSUDUMP DD  SYSOUT=*
//SYSTSIN    DD  *
 DSN SYSTEM({{ db2.ssid }})
 RUN PROGRAM(BANKDATA)  -
 PLAN({{ db2.plan }}) -
 PARM('1,10000,1,1000000000000000') -
 LIB('{{ app.app_hlq }}.{{ app.zos_version }}.LOAD')
 END
/*
