//DB2DROP JOB 'DB2',NOTIFY=&SYSUID,CLASS=A,MSGCLASS=H,
//          MSGLEVEL=(1,1),REGION=4M
//JOBLIB  DD  DISP=SHR,DSN={{ db2.db2_hlq }}.SDSNLOAD
//GRANT   EXEC PGM=IKJEFT01,DYNAMNBR=20
//SYSTSPRT DD  SYSOUT=*
//SYSPRINT DD  SYSOUT=*
//SYSUDUMP DD  SYSOUT=*
//SYSTSIN  DD  *
  DSN SYSTEM({{ db2.ssid }})
  RUN PROGRAM(DSNTEP2) PLAN({{ db2.dsntep }}) -
       LIB('{{ db2.runlib }}') PARMS('/ALIGN(MID)')
  END
/*
//SYSIN DD *

SET CURRENT SQLID = '{{ db2.sqlid }}';

DROP INDEX BANKZ.CUSTNAME;
DROP INDEX BANKZ.CUSTINDX;
DROP TABLE BANKZ.CUSTOMER;

DROP INDEX BANKZ.CONTINDX;
DROP TABLE BANKZ.CONTROL;

DROP TABLE BANKZ.PROCTRAN;

DROP INDEX BANKZ.ACCTCUST;
DROP INDEX BANKZ.ACCTINDX;
DROP TABLE BANKZ.ACCOUNT;

DROP DATABASE BANKZ;

/*